*{
    margin: 0px;

}

header,section,aside,nav,article{
    display: block;
}

h1{
    font: bold 30px verdana, san-serif;
    text-shadow: rgb(255, 254, 254)3px 3px 5px;
}
h2{
    font: bold 20px verdana, san-serif;
    text-shadow: rgb(128,128, 128)3px 3px 5px;
}
body{
    background: -webkit-linear-gradient(top,#002fff,#5dbeff);
    text-align: center;
}
#agrupar{
    width: 960px;
    margin: 15px auto;
    text-align: left;
    background: -webkit-linear-gradient(top,#e7c500,#ffffff);
}
#cabecera{
    background: #057eb6;
    border: 1px solid #999999;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}
#menu{
    background: #CCCCCC;
    padding: 5px 38px;
}
#menu li{
    display: inline-block;
    list-style: none;
    padding: 5px;
    font: bold 14px verdana, sans-serif;
}
#seccion{
    float: left;
    width: 600 px;
    margin: 20px;
}
#columna{
    float: right;
    width: 150px;
    margin: 20px;
    padding: 20px;
    background: #999999;
}
#pie{
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 4px solid #999999;
}
article{
    background: #fffbcc;
    border: 1px solid #999999;
    margin-bottom: 10px;
    padding: 20px;
}
div{
    padding: 10px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: rgb(150,150, 150)5px 5px 20px inset;
}