@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Kurale', serif !important;
}
article{
    background:  linear-gradient(to bottom,#ffe293,#ffffff);
    border: darkgray 1px solid;
}
#opciones{
    background: cornflowerblue;
}
#pie{
    background-color:cadetblue;
    text-align: center;
    padding: 10px;
}
.titulo_inicio{
    color:#797be9;
}
.slide{
    margin-top: 10px;
}
.slide img{
    height: 50vh;
}
aside{
    background: rgb(74, 101, 255);
}
#carouselExampleIndicators{
    width: 300px;
    left:25%;
    padding: 10px;
}
audio{
    width: 200px;
}
.fa-facebook-f{
    color:#1327bf;
    font-size:20px;
}
.fa-whatsapp {
    color:#00ff21;
    font-size:20px;
}
.fa-linkedin{
    color:#0f02ce;
    font-size:20px;
}
#inputPassword3{
    width: 300px;
}
#inputEmail3{
    width: 300px;
}
