@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Kurale', serif !important;
}
article{
    background:  linear-gradient(to bottom,rgb(195, 221, 241),#ffffff);
    border: darkgray 1px solid;
}
#opciones{
    background: cornflowerblue;
}
#pie{
    background-color:cadetblue;
    text-align: center;
    padding: 10px;
}
.titulo_inicio{
    color:#797be9;
}
.slide{
    margin-top: 10px;
}
.slide img{
    height: 50vh;
}
aside{
    background: rgb(74, 101, 255);
}
#carouselExampleIndicators{
    width: 300px;
    left:25%;
    padding: 10px;
}
audio{
    width: 200px;
}
.fa-facebook-f{
    color:#1327bf;
    font-size:20px;
}
.fa-whatsapp {
    color:#00ff21;
    font-size:20px;
}
.fa-linkedin{
    color:#0f02ce;
    font-size:20px;
}
#inputPassword3{
    width: 300px;
}
#inputEmail3{
    width: 300px;
}
.contenido{
    margin: 3px;
}
.caja{
    display: table-cell;
}
.boton{
    background-color: #485cf5;
    border: none;
    color: #ffffff;
    padding: 8px;
    margin: 1px;
    text-align: center;
    border:solid 1px #5f5e5e;
}
.texto{
    padding: 5px 100px;
    margin-right: 50px;
    text-align: left;
}
.txt1{
    padding: 5px 10px;
}
.btn1{
    margin-top: 30px;
    padding: 8px 14px;
}
.boton4{
    background-color: #e9520c;
    padding: 5px 10px;
    border:solid 1px #5f5e5e;
    color: #ffffff;
}
.btn4{
    padding: 5px 67px;
}
.btn5{
    padding: 5px 38px;
}
.boton2{
    background-color: #ffa600;
    border-radius: 5px;
    border-color: #ffffff;
    padding: 8px 32px;
}
.boton3{
    margin-left: 50px;
}
.btn2{
    background-color: #e9520c;
    border:solid 1px #5f5e5e;
}
.art{
    padding: 50px;
    background-color: rgb(195, 221, 241);
}
.tit1{
    text-align: center;
}
.bt1{
    padding: 8px 9px;
}
.btn3{
    padding: 8px 42px;
}